In [1]:
import pandas as pd

In [ ]:
filenames = [
    "tuning_results_0_40.csv",
    "tuning_results_40_80.csv",
    "tuning_results_80_120.csv",
    "tuning_results_120_160.csv",
    "tuning_results_160_200.csv",
    "tuning_results_200_240.csv",
    "tuning_results_240_280.csv",
    "tuning_results_280_320.csv",
]
expr_dir = "../results/predictions/results_S1_ID_40_expr/"

expr_df = pd.DataFrame()

for f in filenames:
    df = pd.read_csv(expr_dir + f)
    expr_df = pd.concat([expr_df, df], ignore_index=True)

expr_df

,dropout,hidden_layers,kernel_constraint,learning_rate,neurons,optimizer,mean_MAE,mean_RMSE,mean_MDAE,mean_PCC
0,0.2,1,NaN,0.0005,50,adam,5.872829e-01,7.801060e-01,4.448750e-01,0.226060
1,0.2,1,NaN,0.0005,100,adam,6.321825e-01,8.502938e-01,4.799585e-01,0.331729
2,0.2,1,NaN,0.0005,200,adam,6.487612e-01,8.308081e-01,5.422229e-01,0.097938
3,0.2,1,NaN,0.0005,400,adam,6.538163e-01,8.734540e-01,5.096696e-01,0.243354
4,0.2,1,NaN,0.0010,50,adam,6.421613e-01,8.707874e-01,4.914198e-01,0.222682
...,...,...,...,...,...,...,...,...,...,...
155,0.4,2,3.0,0.0100,400,sgd,3.164366e+02,4.683244e+02,2.411992e+02,0.038512
156,0.4,2,3.0,0.0500,50,sgd,1.313017e+13,1.313017e+13,1.313034e+13,-0.023728
157,0.4,2,3.0,0.0500,100,sgd,1.698966e+12,1.698968e+12,1.698810e+12,0.146803
158,0.4,2,3.0,0.0500,200,sgd,2.945906e+10,2.946727e+10,2.939754e+10,-0.402628
159,0.4,2,3.0,0.0500,400,sgd,1.352753e+12,1.352788e+12,1.351807e+12,-0.379353

In [3]:
# MAE ranking
mae_df = expr_df.sort_values(by="mean_MAE", ascending=True)
mae_df.head(5)

,dropout,hidden_layers,kernel_constraint,learning_rate,neurons,optimizer,mean_MAE,mean_RMSE,mean_MDAE,mean_PCC
129,0.4,2,NaN,0.005,100,adam,0.075747,0.112096,0.052424,0.795206
128,0.4,2,NaN,0.005,50,adam,0.080821,0.120025,0.054240,0.765231
148,0.4,2,3.0,0.005,50,adam,0.083609,0.125935,0.057412,0.717107
149,0.4,2,3.0,0.005,100,adam,0.085070,0.120936,0.058610,0.730576
48,0.2,2,NaN,0.005,50,adam,0.091978,0.130283,0.069288,0.742490

In [4]:
# RMSE ranking
rmse_df = expr_df.sort_values(by="mean_RMSE", ascending=True)
rmse_df.head(5)

,dropout,hidden_layers,kernel_constraint,learning_rate,neurons,optimizer,mean_MAE,mean_RMSE,mean_MDAE,mean_PCC
129,0.4,2,NaN,0.005,100,adam,0.075747,0.112096,0.052424,0.795206
128,0.4,2,NaN,0.005,50,adam,0.080821,0.120025,0.054240,0.765231
149,0.4,2,3.0,0.005,100,adam,0.085070,0.120936,0.058610,0.730576
148,0.4,2,3.0,0.005,50,adam,0.083609,0.125935,0.057412,0.717107
48,0.2,2,NaN,0.005,50,adam,0.091978,0.130283,0.069288,0.742490

In [5]:
# MDAE ranking
mdae_df = expr_df.sort_values(by="mean_MDAE", ascending=True)
mdae_df.head(5)

,dropout,hidden_layers,kernel_constraint,learning_rate,neurons,optimizer,mean_MAE,mean_RMSE,mean_MDAE,mean_PCC
129,0.4,2,NaN,0.005,100,adam,0.075747,0.112096,0.052424,0.795206
128,0.4,2,NaN,0.005,50,adam,0.080821,0.120025,0.054240,0.765231
148,0.4,2,3.0,0.005,50,adam,0.083609,0.125935,0.057412,0.717107
149,0.4,2,3.0,0.005,100,adam,0.085070,0.120936,0.058610,0.730576
48,0.2,2,NaN,0.005,50,adam,0.091978,0.130283,0.069288,0.742490

In [6]:
# PCC ranking
pcc_df = expr_df.sort_values(by="mean_PCC", ascending=False)
pcc_df.head(5)

,dropout,hidden_layers,kernel_constraint,learning_rate,neurons,optimizer,mean_MAE,mean_RMSE,mean_MDAE,mean_PCC
129,0.4,2,NaN,0.005,100,adam,0.075747,0.112096,0.052424,0.795206
128,0.4,2,NaN,0.005,50,adam,0.080821,0.120025,0.054240,0.765231
48,0.2,2,NaN,0.005,50,adam,0.091978,0.130283,0.069288,0.742490
149,0.4,2,3.0,0.005,100,adam,0.085070,0.120936,0.058610,0.730576
148,0.4,2,3.0,0.005,50,adam,0.083609,0.125935,0.057412,0.717107

In [ ]:
prot_dir = "../results/predictions/results_S2_ID_40_prot/"

prot_df = pd.DataFrame()

for f in filenames:
    df = pd.read_csv(prot_dir + f)
    prot_df = pd.concat([prot_df, df], ignore_index=True)

prot_df

,dropout,hidden_layers,kernel_constraint,learning_rate,neurons,optimizer,mean_MAE,mean_RMSE,mean_MDAE,mean_PCC
0,0.2,1,NaN,0.0005,50,adam,3.822152e-01,5.058085e-01,2.940126e-01,0.051223
1,0.2,1,NaN,0.0005,100,adam,3.170278e-01,4.402763e-01,2.387576e-01,0.124056
2,0.2,1,NaN,0.0005,200,adam,3.359811e-01,4.432231e-01,2.765103e-01,0.063531
3,0.2,1,NaN,0.0005,400,adam,4.613324e-01,6.015530e-01,3.739385e-01,0.043665
4,0.2,1,NaN,0.0010,50,adam,2.887421e-01,3.831043e-01,2.352623e-01,0.085815
...,...,...,...,...,...,...,...,...,...,...
155,0.4,2,3.0,0.0100,400,sgd,3.445310e+00,4.737874e+00,2.661247e+00,-0.061676
156,0.4,2,3.0,0.0500,50,sgd,3.414134e+08,3.414316e+08,3.420527e+08,0.044156
157,0.4,2,3.0,0.0500,100,sgd,5.433437e+04,7.267756e+04,4.246884e+04,-0.011146
158,0.4,2,3.0,0.0500,200,sgd,9.222440e+04,1.196913e+05,7.802089e+04,-0.111779
159,0.4,2,3.0,0.0500,400,sgd,1.040811e+06,1.413699e+06,7.669914e+05,-0.139682

In [8]:
# MAE ranking
prot_mae_df = prot_df.sort_values(by="mean_MAE", ascending=True)
prot_mae_df.head(5)

,dropout,hidden_layers,kernel_constraint,learning_rate,neurons,optimizer,mean_MAE,mean_RMSE,mean_MDAE,mean_PCC
130,0.4,2,NaN,0.005,200,adam,0.097973,0.164667,0.064398,0.449003
149,0.4,2,3.0,0.005,100,adam,0.098950,0.166283,0.060103,0.434614
129,0.4,2,NaN,0.005,100,adam,0.099498,0.164519,0.067242,0.437905
150,0.4,2,3.0,0.005,200,adam,0.099878,0.163003,0.065004,0.452523
148,0.4,2,3.0,0.005,50,adam,0.100383,0.168288,0.066815,0.432952

In [9]:
# RMSE ranking
prot_rmse_df = prot_df.sort_values(by="mean_RMSE", ascending=True)
prot_rmse_df.head(5)

,dropout,hidden_layers,kernel_constraint,learning_rate,neurons,optimizer,mean_MAE,mean_RMSE,mean_MDAE,mean_PCC
150,0.4,2,3.0,0.005,200,adam,0.099878,0.163003,0.065004,0.452523
129,0.4,2,NaN,0.005,100,adam,0.099498,0.164519,0.067242,0.437905
130,0.4,2,NaN,0.005,200,adam,0.097973,0.164667,0.064398,0.449003
111,0.4,1,3.0,0.005,400,adam,0.104169,0.165736,0.067979,0.427058
149,0.4,2,3.0,0.005,100,adam,0.098950,0.166283,0.060103,0.434614

In [10]:
# MDAE ranking
prot_mdae_df = prot_df.sort_values(by="mean_MDAE", ascending=True)
prot_mdae_df.head(5)

,dropout,hidden_layers,kernel_constraint,learning_rate,neurons,optimizer,mean_MAE,mean_RMSE,mean_MDAE,mean_PCC
149,0.4,2,3.0,0.005,100,adam,0.098950,0.166283,0.060103,0.434614
128,0.4,2,NaN,0.005,50,adam,0.101877,0.168833,0.061843,0.407752
130,0.4,2,NaN,0.005,200,adam,0.097973,0.164667,0.064398,0.449003
150,0.4,2,3.0,0.005,200,adam,0.099878,0.163003,0.065004,0.452523
148,0.4,2,3.0,0.005,50,adam,0.100383,0.168288,0.066815,0.432952

In [11]:
# PCC ranking
prot_pcc_df = prot_df.sort_values(by="mean_PCC", ascending=False)
prot_pcc_df.head(5)

,dropout,hidden_layers,kernel_constraint,learning_rate,neurons,optimizer,mean_MAE,mean_RMSE,mean_MDAE,mean_PCC
150,0.4,2,3.0,0.005,200,adam,0.099878,0.163003,0.065004,0.452523
130,0.4,2,NaN,0.005,200,adam,0.097973,0.164667,0.064398,0.449003
129,0.4,2,NaN,0.005,100,adam,0.099498,0.164519,0.067242,0.437905
149,0.4,2,3.0,0.005,100,adam,0.098950,0.166283,0.060103,0.434614
148,0.4,2,3.0,0.005,50,adam,0.100383,0.168288,0.066815,0.432952

In [ ]:
flux_dir = "../results/predictions/results_S3_ID_40_flux/"

flux_df = pd.DataFrame()

for f in filenames:
    df = pd.read_csv(flux_dir + f)
    flux_df = pd.concat([flux_df, df], ignore_index=True)

flux_df

,dropout,hidden_layers,kernel_constraint,learning_rate,neurons,optimizer,mean_MAE,mean_RMSE,mean_MDAE,mean_PCC
0,0.2,1,NaN,0.0005,50,adam,6.166382e-01,1.172520e+00,3.218334e-01,0.083072
1,0.2,1,NaN,0.0005,100,adam,6.276675e-01,1.427239e+00,2.913010e-01,-0.067527
2,0.2,1,NaN,0.0005,200,adam,6.419529e-01,1.207137e+00,3.359689e-01,0.019813
3,0.2,1,NaN,0.0005,400,adam,5.812427e-01,1.260883e+00,2.672553e-01,0.176042
4,0.2,1,NaN,0.0010,50,adam,6.649343e-01,1.464852e+00,3.261508e-01,0.082921
...,...,...,...,...,...,...,...,...,...,...
155,0.4,2,3.0,0.0100,400,sgd,1.503256e+02,1.937102e+02,1.321748e+02,0.131462
156,0.4,2,3.0,0.0500,50,sgd,4.043802e+07,4.098165e+07,3.843813e+07,0.005896
157,0.4,2,3.0,0.0500,100,sgd,1.600003e+06,1.993902e+06,1.223344e+06,-0.103843
158,0.4,2,3.0,0.0500,200,sgd,6.318732e+09,6.368370e+09,6.595073e+09,0.126407
159,0.4,2,3.0,0.0500,400,sgd,2.791091e+14,2.791091e+14,2.791495e+14,-0.171370

In [13]:
# MAE ranking
flux_mae_df = flux_df.sort_values(by="mean_MAE", ascending=True)
flux_mae_df.head(5)

,dropout,hidden_layers,kernel_constraint,learning_rate,neurons,optimizer,mean_MAE,mean_RMSE,mean_MDAE,mean_PCC
148,0.4,2,3.0,0.005,50,adam,0.147229,0.228613,0.102950,0.436923
45,0.2,2,NaN,0.001,100,adam,0.158189,0.270971,0.093823,0.236544
69,0.2,2,3.0,0.005,100,adam,0.177088,0.311518,0.112615,0.383829
48,0.2,2,NaN,0.005,50,adam,0.184962,0.278543,0.123438,0.167700
145,0.4,2,3.0,0.001,100,adam,0.193340,0.330231,0.110676,0.121518

In [14]:
# RMSE ranking
flux_rmse_df = flux_df.sort_values(by="mean_RMSE", ascending=True)
flux_rmse_df.head(5)

,dropout,hidden_layers,kernel_constraint,learning_rate,neurons,optimizer,mean_MAE,mean_RMSE,mean_MDAE,mean_PCC
148,0.4,2,3.0,0.005,50,adam,0.147229,0.228613,0.102950,0.436923
45,0.2,2,NaN,0.001,100,adam,0.158189,0.270971,0.093823,0.236544
48,0.2,2,NaN,0.005,50,adam,0.184962,0.278543,0.123438,0.167700
150,0.4,2,3.0,0.005,200,adam,0.206836,0.301141,0.148276,0.144900
69,0.2,2,3.0,0.005,100,adam,0.177088,0.311518,0.112615,0.383829

In [15]:
# MDAE ranking
flux_mdae_df = flux_df.sort_values(by="mean_MDAE", ascending=True)
flux_mdae_df.head(5)

,dropout,hidden_layers,kernel_constraint,learning_rate,neurons,optimizer,mean_MAE,mean_RMSE,mean_MDAE,mean_PCC
45,0.2,2,NaN,0.0010,100,adam,0.158189,0.270971,0.093823,0.236544
142,0.4,2,3.0,0.0005,200,adam,0.207632,0.421846,0.099228,0.180753
90,0.4,1,NaN,0.0050,200,adam,0.205432,0.428297,0.101110,0.289961
148,0.4,2,3.0,0.0050,50,adam,0.147229,0.228613,0.102950,0.436923
145,0.4,2,3.0,0.0010,100,adam,0.193340,0.330231,0.110676,0.121518

In [16]:
# PCC ranking
flux_pcc_df = flux_df.sort_values(by="mean_PCC", ascending=False)
flux_pcc_df.head(5)

,dropout,hidden_layers,kernel_constraint,learning_rate,neurons,optimizer,mean_MAE,mean_RMSE,mean_MDAE,mean_PCC
117,0.4,1,3.0,0.05,100,sgd,4.789417e+10,4.790079e+10,4.800483e+10,0.604755
118,0.4,1,3.0,0.05,200,sgd,9.792828e+11,9.792896e+11,9.799158e+11,0.604197
99,0.4,1,NaN,0.05,400,sgd,4.033984e+16,5.298396e+16,3.185047e+16,0.604035
77,0.2,2,3.0,0.05,100,sgd,3.273050e+12,3.273070e+12,3.275038e+12,0.602942
153,0.4,2,3.0,0.01,100,sgd,2.748672e+00,3.659563e+00,2.263072e+00,0.514332